<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #image {width: 75%;height: 75%;}
    </style>
</head>
<body>
    <img id="image" src="/screencapture">
    <label for="mine">Hold left click</label>
    <input type="checkbox" id="mine" name="mine">
    <label for="esc">Escape</label>
    <button id="escape" name="esc"></button>
    <button id="up" name="up" type="button">Scroll Up</button>
    <button id="down" name="down" type="button">Scroll Down</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script src="/static/main.js"></script>
</body>
</html>
